:root {
  --default-font: "Outfit", serif;
  --heading-font: "Outfit", serif;
  --nav-font: "Outfit", serif;
}

:root { 
  --background-color: #F8F9FA; 
  --default-color: #000000; 
  --heading-color: #000000; 
  --accent-color: #FF6C09; 
  --surface-color: #F8F9FA; 
  --contrast-color: #F8F9FA; 
}

:root {
  --nav-color: #000000; 
  --nav-hover-color: #FF6C09; 
  --nav-mobile-background-color: #F8F9FA; 
  --nav-dropdown-background-color: #F8F9FA; 
  --nav-dropdown-color: #212529; 
  --nav-dropdown-hover-color: #FF6C09; 
}

.light-background {
  --background-color: #f3f9ff;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #0d83fd;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #409dfd;
  --contrast-color: #ffffff;
}

:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}


/* --------------------- */
/*        BASE STYLES    */
/* --------------------- */

.header {
  --background-color: rgba(255, 255, 255, 0);
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 40px 0;
  z-index: 997;
}

.mobile-nav-toggle {
  display: block;
}

.header .header-container {
  width: 600px;
  height: 70px;
  background: var(--surface-color);
  border-radius: 50px;
  padding: 15px 15px;
  box-shadow: 10px 8px 15px rgba(0, 0, 0, 0.1);
}


.scrolled .header .header-container {
  background: color-mix(in srgb, var(--surface-color), transparent 5%);
}

.header .logo {
  height: 50px;
  padding-left: 5px;
}

.header .logo img {
  max-height: 36px;
  margin-right: 8px;
}

.header .logo h1 {
  font-size: 35px;
  margin: 0;
  font-weight: 400;
  color: var(--heading-color);
}

.navmenu {
  padding: 0;
}

.navmenu ul {
  margin: 0;
  padding: 15px;
  display: flex;
  list-style: none;
  align-items: center;
}

.navmenu li {
  position: relative;
}

.navmenu a,
.navmenu a:focus {
  color: var(--nav-color);
  padding: 18px 15px;
  font-size: 20px;
  font-family: var(--nav-font);
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  transition: 0.3s;
}

.navmenu a i,
.navmenu a:focus i {
  font-size: 15px;
  line-height: 0;
  margin-left: 5px;
  transition: 0.3s;
}

.navmenu li:last-child a {
  padding-right: 0;
}

.navmenu li:hover > a,
.navmenu .active,
.navmenu .active:focus {
  color: var(--nav-hover-color);
}

.navmenu .dropdown ul {
  margin: 0;
  padding: 10px 0;
  background: var(--nav-dropdown-background-color);
  display: block;
  position: absolute;
  visibility: hidden;
  left: 14px;
  top: 130%;
  opacity: 0;
  transition: 0.3s;
  border-radius: 4px;
  z-index: 99;
  box-shadow: 10px 17px 15px rgba(0, 0, 0, 0.1);
}

.navmenu .dropdown ul li {
  min-width: 200px;
}

.navmenu .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  color: var(--nav-dropdown-color);
}

.navmenu .dropdown ul a i {
  font-size: 12px;
}

.navmenu .dropdown ul a:hover,
.navmenu .dropdown ul .active:hover,
.navmenu .dropdown ul li:hover > a {
  color: var(--nav-dropdown-hover-color);
}

.navmenu .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navmenu .dropdown .dropdown ul {
  top: 0;
  left: -90%;
  visibility: hidden;
}

.navmenu .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: -100%;
  visibility: visible;
}

section,
.section {
  align-items: center;
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 30px 0;
  margin-top: 150px;
  margin-bottom: 150px;
}

.section-title {
  max-width: 1320px;
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.hero-width {
  width: 1320px;
}

.hero-contact-h1 {
  font-size: 300px;
  font-weight: 500;
  margin: 0;
}

.description-text {
  width: 260px;
  font-weight: 300;
  height: 35px;
  border-radius: 30px;
  background-color: #E6FFF2;
}
.description-text2 {
  width: 200px;
  height: 35px;
  font-weight: 300;
  border-radius: 30px;
  background-color: #E6FFF2;
}
.description-text3 {
  width: 210px;
  height: 35px;
  font-weight: 300;
  border-radius: 30px;
  background-color: #E6FFF2;
}

.check-icon {
  display: inline-flex;
  margin-left: 15px;
  width: 24px;
  height: 24px;
  background-color: #31D57C;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.maintitle {
  width: 400px;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}

.highlight {
  color: #ff6c09;
  margin-left: 0;
}

.description {
  width: 400px;
  font-size: 17px;
  line-height: 1.6;
  color: #2b2b2b;
}

.logo-img {
  width: 40px;
  margin-right: 10px;
}
.btn-dark {
  width: 240px;
  min-height: 80px;
  background-color: #000000;
  font-size: 25px;
  font-weight: 200;
  border: none;
  height: 70px;
  border-radius: 50px;
  flex-shrink: 0;
  transition: 0.5s ease-in-out;
}

.btn-dark:hover {
  background-color: #ff6c09;
}
.arrow-1 {
  width: 40px;
  height: 40px;
}

.arrow-img {
  width: 100%;
  background-size: cover;
}


.stats-section {
  background-color: #161616;
  color: white;
  padding: 50px;
  border-radius: 50px;
  max-width: 1400px;
  height: 700px;
  width: 100%;
  margin: auto;
}
.rounded {
  margin-left: 80px;
  background: #D9D9D9;
  width: 350px;
  height: 550px;
  align-items: center;
  text-align: center;
}
.right-card {
  margin-left: 30px;
  align-items: center;
  width: 500px;
}
.highlight-1 {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 40px;
}
.dec-text {
  width: 500px;
  letter-spacing: -0.5px;
  font-size: 22px;
  font-weight: lighter;
  color: var(--contrast-color);
}
.stats-card {
  background-color: #F8F9FA;
  color: #000000;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  max-width: 250px;
}

.dec-text-small {
  width: 200px;
  font-weight: lighter;
  line-height: 0.1px;
}

.businesses-proj {
  position: relative;
  left: 0px;
  width: 1400px;
}

.brand-item {
  border: none;
  padding: 20px 20px;
  font-size: 40px;
  font-weight: 500;
  color: #696969;
}

.logo-dedeweb {
  width: 150px;
}

.logo-dedeweb-1 {
  width: 40px;
}

.coming-soon {
  border: none;
  padding: 10px 30px;
  font-size: 40px;
  font-weight: 500;
  color: #696969;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
}
.meeting-section {
  max-width: 1400px;
  margin: auto;
  position: relative;
  margin-top: 50px;
  margin-bottom: 150px;
}

.meeting-title {
  font-size: 60px;
  font-weight: 600;
  color: #FF6C09;
}

.meeting-text {
  font-size: 25px;
  color: #161616;
}

.brand-logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

.meeting-btn {
  background-color: #161616;
  color: #F8F9FA;
  font-size: 23px;
  font-weight: 300;
  text-align: center;
  width: 190px;
  padding: 12px 20px;
  border-radius: 30px;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
}
.meeting-btn:hover {
  background-color: #FF6C09;
  color: #F8F9FA;
}

.arrow-icon {
  font-size: 40px;
  position: absolute;
  top: 0;
  right: 0;
}

.process-title {
  font-size: 90px;
  text-align: center;
  font-weight: 400;
  color: var(--default-color);
  margin-bottom: 20px;
}

.highlight {
  color: #FF6C09;
}

.process-text {
  font-size: 17px;
  color: #161616;
  text-align: center;
  max-width: 600px;
  margin: 10px auto 40px;
  margin-bottom: 50px;
}

.step-container {
  display: flex;
  align-items: center;
  gap: 12px; 
  max-width: 1400px;
  margin: auto;
}

.step-number-box {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 75px;
  font-weight: 400;
  padding: 15px 20px;
  border-radius: 12px;
  color: #F8F9FA;
  flex-shrink: 0;
}

.step-content {
  flex: 1;
  height: 120px;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 20px 20px;
  border-radius: 12px;
  color: #F8F9FA;
}

.step-title {
  font-size: 40px;
  font-weight: 400;
  margin-right: 10px;
  margin-left: 30px;
}

.step-description {
  padding: 20px 20px;
  font-size: 25px;
  font-weight: 100;
  margin-bottom: 0;
  flex: 1;
}

.one-x {
  padding: 60px;
}

.hero-section {
  background-color: #161616;
  color: var(--contrast-color);
  text-align: center;
  align-items: center;
  padding: 50px 20px;
  border-radius: 30px;
  max-width: 1400px;
  height: 500px;
}

.hero-title {
  font-size: 90px;
  font-weight: 600;
  color: #FF6C09;
}

.hero-subtitle {
  font-size: 23px;
  font-weight: 400;
  margin-top: -10px;
  margin-bottom: 50px;
  color: var(--contrast-color);
}

.hero-text {
  max-width: 1000px;
  margin: auto;
  font-size: 18px;
  font-weight: 300;
  color: var(--contrast-color);
  margin-bottom: 0px;
}

.content-box {
  background-color: #FF6C09;
  padding: 50px;
  border-radius: 30px;
  width: 80%;
  height: 300px;
  max-width: 900px;
  margin: -100px auto 0 auto; 
}

.coming-soon-1 {

  font-size: 200px;
  font-weight: bold;
  color: #ff6b0913;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 0;
}

.overlay-text {
  position: relative;
  bottom: -130px;
  font-size: 50px;
  font-weight: 500;
  color: #5e5e5e;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  gap: 300px;
  margin-bottom: 300px;
}

.clients {
  max-width: 1400px;
}

.trust-title {
  font-size: 80px;
  font-weight: 500;
}

.trust-text {
  text-align: center;
  width: 600px;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  color: #161616;
}

.text-orange {
  color: var(--accent-color);
  font-weight: 500;
}

img.position-absolute {
  width: 50px; 
}
.trust-cards {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.trust-card {
  background: #161616;
  color: #F8F9FA;
  border-radius: 10px;
  padding: 20px;
  width: 220px;
  height: 270px;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.trust-card h3 {
  margin-top: 40px;
  text-align: left;
  font-size: 60px;
  color: var(--accent-color);
}

.trust-card p {
  margin-top: 40px;
  font-size: 15px;
  font-weight: 100;
  color: #F8F9FA;
}

.icon {
  border-style: solid;
  border-color: #F8F9FA;
  position: absolute;
  top: 10px;
  right: -25px;
  background: var(--accent-color);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
  width: 60%;
  height: auto;
}

.process-title-1 {
  font-size: 90px;
  text-align: center;
  font-weight: 500;
  color: var(--default-color);
}

.highlight-2 {
  color: #31D57C;
}

.process-text-1 {
  margin-top: 50px;
  margin-bottom: 150px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

.linkdin {
  text-align: center;
  margin-top: 100px;
  font-size: 30px;
  font-weight: 400;
  color: #c9c9c9;
}

.linkdin span:hover {
  text-decoration: underline;
}

.card {
  background-color: #161616;
  border: none;
  border-radius: 15px;
  height: 900px;
  width: 620px;
  margin-bottom: 20px;
}

.card-container {
  max-width: 1400px;
}
.opportunity {
  max-width: 1400px;
}

.custom-card {
  margin: auto;
  max-width: 1400px;
  width: 1400px;
  margin-top: 200px;
  height: 700px;
  justify-items: center;
  background-color: #161616;
  color: var(--contrast-color);
  border-radius: 50px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 300px;
  margin-bottom: 200px;
}

.highlight-box {
  background-color: var(--accent-color);
  width: 400px;
  height: 750px;
  border-radius: 20px;
  position: absolute;
  right: 100px;
  top: -80px;
}

.title {
  margin-left: 20px;
  font-size: 90px;
  font-weight: 500;
  color: var(--accent-color);
}

.main-heading {
  margin-left: 20px;
  font-size: 90px;
  font-weight: 500;
  color: var(--contrast-color);
}

.description-2 {
  width: 680px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 200;
  margin-top: 10px;
  color: var(--contrast-color);
}

.author {
  margin-left: 20px;
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;
}

.text-secondary{
  font-weight: 200;
  margin-left: 10px;
}

.arrow {
  display: flex;
  margin-left: 10px;
  width: 25px;
  height: 25px;
  background-color: white;
  color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.footer {
  background-color: #161616;
  color: var(--contrast-color);
  border-radius: 50px;
  padding: 110px;
  max-width: 1400px;
  height: 700px;
  margin: 40px auto;
}

.footer-logo img {
  position: relative;
  top: -70px;
  width: 200px;
  height: 200px;
  margin-right: 10px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-bottom: 50px;
}

.footer-links li {
  margin-bottom: 20px;
}

.footer-links a {
  color: var(--contrast-color);
  text-decoration: none;
  font-size: 20px;
  font-weight: 200;
}


.footer-links a:hover {
  color: var(--accent-color);
}

.privcy {
  list-style: none;
  padding: 0;
}

.privcy li {
  margin-bottom: 20px;
}

.privcy a {
  color: #696969;
  text-decoration: none;
  font-size: 20px;
  font-weight: 200;
}

.privcy a:hover {
  color: var(--contrast-color);
}

.subscribe-box {
  display: flex;
  background-color: white;
  border-radius: 50px;
  overflow: hidden;
  max-width: 500px;
  height: 50px;
  margin-top: 10px;
}

.subscribe-box-text {
 font-size: 40px;
 font-weight: 400;
 color: var(--contrast-color);
}

.subscribe-box input {
  flex: 1;
  border: none;
  padding: 10px 15px;
  outline: none;
}

.subscribe-box button {
  width: 43px;
  height: 43px;
  background-color: var(--default-color);
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  margin: 5px;
  text-align: center;
  justify-items: center;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.subscribe-box button:hover {
  background-color: var(--accent-color);
}

.back-to-top {
  position: relative;
  bottom: -80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 23px;
  color: var(--default-color);
  text-decoration: none;
  margin-top: 20px;
  width: 250px;
  height: 50px;
  transition: 0.3s ease-in-out;
}

.back-to-top:hover {
  background-color: var(--accent-color);
  color: var(--default-color);
}

.back-to-top span {
  background-color: var(--accent-color);
  color: var(--contrast-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.back-to-top span:hover {
  background-color: var(--background-color);
  color: var(--accent-color);
}

.footer-bottom {
  margin-left: 100px;
  align-items: center;
  position: relative;
  bottom: -50px;
}

.info-2 {
  color: var(--contrast-color);
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  cursor: pointer;
}

.info-2:hover {
  text-decoration: underline;
}

.All-rights {
  line-height: 25px;
  color: #696969;
  font-size: 20px;
  font-weight: 300;
}


.step-1 .step-number-box { background-color: #FF6C09; }
.step-1 .step-content { background-color: #FF6C09; }

.step-2 .step-number-box { background-color: #161616; }
.step-2 .step-content { background-color: #161616; }

.step-3 .step-number-box { background-color: #31D57C; }
.step-3 .step-content { background-color: #31D57C; }


/* --------------------- */
/*      DESKTOP (min-width: 1200px)    */
/* --------------------- */
@media (max-width: 1024px) {
  .header {
    min-width: 700px;
    max-width: 980px;
    margin: 30px;
    height: 70px;
    padding: 40px auto;
  }

  .header-container{
    width: 500px;
  }
  .navmenu {
    padding: 0;
  }

  .navmenu ul {
    margin: 0;
    padding: 15px;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navmenu li {
    position: relative;
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-color);
    padding: 18px 15px;
    font-size: 20px;
    font-family: var(--nav-font);
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 15px;
    line-height: 0;
    margin-left: 5px;
    transition: 0.3s;
  }

  .navmenu li:last-child a {
    padding-right: 0;
  }

  .navmenu li:hover > a,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--nav-hover-color);
  }

  .navmenu .dropdown ul {
    margin: 0;
    padding: 10px 0;
    background: var(--nav-dropdown-background-color);
    display: block;
    position: absolute;
    visibility: hidden;
    left: 14px;
    top: 130%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 99;
    box-shadow: 10px 17px 15px rgba(0, 0, 0, 0.1);
  }

  .navmenu .dropdown ul li {
    min-width: 200px;
  }

  .navmenu .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: var(--nav-dropdown-color);
  }

  .navmenu .dropdown ul a i {
    font-size: 12px;
  }

  .navmenu .dropdown ul a:hover,
  .navmenu .dropdown ul .active:hover,
  .navmenu .dropdown ul li:hover > a {
    color: var(--nav-dropdown-hover-color);
  }

  .navmenu .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navmenu .dropdown .dropdown ul {
    top: 0;
    left: -90%;
    visibility: hidden;
  }

  .navmenu .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: -100%;
    visibility: visible;
  }
  
  .stats-section {
    background-color: #161616;
    color: white;
    padding: 50px;
    border-radius: 20px;
    max-width: 1200px;
    height: 700px;
    width: 100%;
    margin: auto;
  }
  .rounded {
    margin-left: 0px;
    background: #D9D9D9;
    width: 350px;
    height: 550px;
    align-items: center;
    text-align: center;
  }
  .right-card {
    margin-left: 0px;
    align-items: center;
    width: 400px;
  }
  .highlight-1 {
    color: #FF6C09;
    font-weight: 500;
    font-size: 35px;
  }
  .dec-text {
    width: 500px;
    font-size: 20px;
    font-weight: 100;
    color: #F8F9FA;
  }
  .stats-card {
    background-color: #F8F9FA;
    color: #000000;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    max-width: 250px;
  }
  .hero-contact-h1 {
    font-size: 220px;
  }
  .hero-width {
    width: 900px;
  }
  .btn-dark {
    width: 200px;
    font-size: 20px;
  }
  .btn-dark:hover {
    background-color: #ff6c09;
  }
  .maintitle {
    font-size: 30px;
    width: 400px;
  }
  .description {
    width: 350px;
    font-size: 15px;
  }
  .logo-img {
    width: 30px;
  }
  .description-1 {
    font-size: 15px;
  }

  .businesses-proj {
    width: 900px;
  }

  .brand-item {
    padding: 10px;
    font-size: 31px;
  }
  .coming-soon {
    font-size: 31px;
  }
  .process-title {
    font-size: 80px;
  }
  .step-container {
    width: 900px;
  }
  .step-number-box {
    width: 100px;
    height: 100px;
    font-size: 60px;
  }

  .step-content {
    height: 100px;
    padding: 10px;
  }
  .step-description {
    padding: 10px;
    font-size: 15px;
    font-weight: 200;
  }
  .one-x {
    padding: 30px;
  }
  .hero-section {
    padding: 30px 20px;
    width: 900px;
  }
  .hero-text {
    width: 800px;
    font-size: 15px;
  }
  .content-box {
    margin: -150px auto 0 auto;
  }
  .coming-soon-1 {
    width: 100%;
    font-size: 150px;
  }
  .overlay-text {
    bottom: -100px;
    font-size: 30px;
  }
  .process-title-1{
    font-size: 80px;
  }
  .process-text-1{
    margin-top: 20px;
  }
  .card-container{
    width: 100%;
  }
  .card{
    width: 100%;
    height: 600px;
  }
  .all-cards{
    width: 100%;
  }
  .opportunity{
    width: 100%;
  }
  .custom-card{
    width: 100%;
    height: 600px;
  }
  .highlight-box{
    right: 30px;
    width: 350px;
    height: 650px;
  }
  .title{
    font-size: 60px;
    width: 100%;
  }
  .main-heading{
    font-size: 60px;
    width: 100%;
  }
  .description-2{
    width: 60%;
    font-size: 20px;
  }
  .author{
    font-size: 20px;
  }
  .footer{
    height: 600px;
    width:95%;
    padding: 60px;
    font-size: 20px;
  }
  .footer-logo img{
    width: 180px;
  }
  .footer-links{
    font-size: 20px;
  }
  .back-to-top{
    bottom: -70px;
    width: 200px;
    font-size: 20px;
  }
  .back-to-top span{
    font-size: 20px;
  }
  .subscribe-box-text{
    font-size: 30px;
  }
  .subscribe-box{
    width: 100%;
  }
  .footer-bottom {
    margin-left: 50px;
    bottom: -40px;
  }
  .info-2{
    font-size: 20px;
  }
  .All-rights{
    font-size: 20px;
  }
  

}

/* --------------------- */
/*      TABLET (min-width: 768px and max-width: 1199px)    */
/* --------------------- */

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
  width: 50%;
    margin: 30px;
    height: 70px;
    padding: 40px auto;
  }

  .header .header-container {
    margin: 0 auto;
    width: 600px;
    padding: 5px 15px;
    background: var(--surface-color);
    border-radius: 50px;
  }

  .header .btn-getstarted {
    font-size: 10px;
    margin: 0 0 0 30px;
    padding: 8px 20px;
  }

  .navmenu {
    padding: 0;
  }

  .mobile-nav-toggle {
    display: block;
  }

  .navmenu ul {
    margin: 40px;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navmenu li {
    position: relative;
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-color);
    padding: 18px 15px;
    font-size: 18px;
    font-family: var(--nav-font);
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 18px;
    line-height: 0;
    margin-left: 5px;
    transition: 0.3s;
  }

  .navmenu li:last-child a {
    padding-right: 0;
  }

  .navmenu li:hover > a,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--nav-hover-color);
  }

  .navmenu .dropdown ul {
    margin: 0;
    padding: 10px 0;
    background: var(--nav-dropdown-background-color);
    display: block;
    position: absolute;
    visibility: visible;
    left: 14px;
    top: 130%;
    opacity: 1;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 99;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }

  .navmenu .dropdown ul li {
    min-width: 200px;
  }

  .navmenu .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: var(--nav-dropdown-color);
  }

  .navmenu .dropdown ul a i {
    font-size: 12px;
  }

  .navmenu .dropdown ul a:hover,
  .navmenu .dropdown ul .active:hover,
  .navmenu .dropdown ul li:hover > a {
    color: var(--nav-dropdown-hover-color);
  }

  .navmenu .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navmenu .dropdown .dropdown ul {
    top: 0;
    left: -90%;
    visibility: hidden;
  }

  .navmenu .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: -100%;
    visibility: visible;
  }

  .hero {
    width: 100%;
  }
  .hero-width {
    margin-left: 0px;
    width: 100%;
  }

 .hero-contact-h1 {
  font-size: 170px;
  justify-items: center;
  font-weight: 600;
 }

 .maintitle {
  width: 250px;
  font-size: 22px;
  margin-bottom: 20px;
  }

  .description {
    width: 250px;
    font-size: 15px;
    line-height: 1.6;
    color: #161616;
  }

  .description-1 {
    font-size: 11px;
  }

  .description-text {
    font-size: 13px;
    width: 220px;
    font-weight: 300;
    height: 35px;
    border-radius: 30px;
    background-color: #E6FFF2;
  }
  .description-text2 {
    font-size: 13px;
    width: 170px;
    height: 35px;
    font-weight: 300;
    border-radius: 30px;
    background-color: #E6FFF2;
  }
  .description-text3 {
    font-size: 13px;
    width: 180px;
    height: 35px;
    font-weight: 300;
    border-radius: 30px;
    background-color: #E6FFF2;
  }
  
  .check-icon {
    display: inline-flex;
    margin-left: 15px;
    width: 24px;
    height: 24px;
    background-color: #31D57C;
    color: var(--contrast-color);
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }

  .logo-img {
    width: 20px;
    margin-right: 10px;
  }

  .arrow-1 {
    margin-top: 15px;
    justify-items: center;
    text-align: center;
  }

  .arrow-img {
    width: 60%;
  }

  .btn-dark {
    flex-shrink: 0;
    margin-right: 20px;
    position: relative;
    min-width: 130px;
    max-width: 160px;
    min-height: 40px;
    text-align: center;
    align-items: center;
    font-size: 15px;
    background-color: #161616;
    font-weight: 200;
    border: none;
    height: 65px;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
  }
  
  .btn-dark:hover {
    background-color: var(--accent-color);
  }
 
  .stats-section {
    background-color: #161616;
    color: var(--contrast-color);
    padding: 50px;
    border-radius: 50px;
    max-width: 900px;
    height: 600px;
    width: 100%;
    margin: auto;
  }
  
  .rounded {
    margin-left: 10px;
    background: #D9D9D9;
    border-radius: 25px;
    width: 250px;
    height: 500px;
    align-items: center;
    text-align: center;
  }

  .right-card {
    margin-left: 0px;
    align-items: center;
    width: 250px;
  }

  .highlight-1 {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 30px;
  }

  .dec-text {
    width: 300px;
    font-size: 20px;
    font-weight: 100;
    color: #F8F9FA;
  }

  .stats-card {
    background-color: #F8F9FA;
    color: #161616;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    max-width: 250px;
  }

  .businesses-proj {
    width: 100%;
  }
  
  .brand-item {
    width: 100%;
    margin-left: 0px;
    border: none;
    padding: 20px 0px;
    font-size: 23px;
    font-weight: 500;
    color: #696969;
  }

  .coming-soon {
    border: none;
    padding: 10px 15px;
    font-size: 23px;
    font-weight: 500;
    color: #696969;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .meeting-section {
    min-width: 450px;
    max-width: 980px;
  }

  .meeting-title {
    font-size: 40px;
  }

  .meeting-btn {
    width: 150px;
    font-size: 20px;
  }

  .process-title {
    font-size: 60px;
  }

  .process-text {
    width: 500px;
  }

  .step-container {
    margin: 0;
    max-width: 650px;
  }

  .step-number-box {
    width: 80px;
    height: 80px;
    font-size: 40px;
  }
   .step-content {
    max-width: 620px;
    height: 80px;
   }

   .step-title {
    margin-right: 0;
    font-size: 30px;
    margin-left: 15px;
   }

   .step-description {
    width: 480px;
    padding: 10px 5px;
    font-size: 15px;
   }

   .one-x {
    padding: 0;
   }

   .hero-section {
    margin-top: 100px;
    width: 730px;
   }
   .hero-text {
    max-width: 700px;
    font-size: 13px;
   }

   .content-box {
    margin: -150px auto 10px auto;
    margin-bottom: 100px;
   }

   .clients {
    width: 100%;
    max-width: 100%;
   }

   .trust-width {
    width: 100%;
   }

   .trust-title {
    font-size: 60px;
   }
   .trust-text {
    font-size: 15px;
    max-width: 600px;
   }
   .trust-cards {
    max-width: 100%;
    justify-content: left;
    margin-left: 20px;
    gap: 30px;
   }

   .trust-card {
    max-width: 180px;
    height: 220px;
    padding: 20px;
   }
   .trust-card h3 {
    margin-top: 20px;
   }
   .trust-card p {
    margin-top: 20px;
   }
   .icon {
    width: 60px;
    height: 60px;
   }

   .process-title-1 {
    font-size: 60px;
   }

   .process-text-1 {
    font-size: 30px;
    margin-top: 30px;
   }
   .card-container {
    max-width: 750px;
    min-width: 450px;
   }
   .card {
    width: 330px;
    height: 600px;
   }
   .all-cards {
    width: 100%;
   }

   .opportunity {
    max-width: 750px;
    width: 100%;
   }
   .custom-card {
    width: 100%;
    height: 500px;
   }
    .highlight-box {
      height: 550px;
      width: 250px;
      right: 30px;
      border-radius: 15px;
      top: -80px;
    }
   .title {
    margin-left: 0px;
    font-size:  45px;
   }
   .main-heading {
    margin-left: 0px;
    font-size: 45px;
   }
   .description-2 {
    margin-left: 0px;
    width: 60%;
    font-size: 16px;
   }
   .author {
    margin-left: 0px;
    font-size: 15px;
   }
   .footer {
    width: 95%;
    padding: 30px;
    height: 100%;
   }
   .footer-logo img {
    width: 130px;
   }
   .footer-links {
    margin-top: 10px;
   }
   .footer-links a {
    font-size: 18px;
   }
   .footer-bottom {
    position: relative;
    bottom: 0;
    margin-left: 20px;
    font-size: 15px;
   }
   .privcy {
    margin-top: 10px;
   }
   .privcy a {
    font-size: 18px;
   } 
   .subscribe-box {
    margin-right: 20px;
    max-width: 200px;
   }
   .subscribe-box-text {
    font-size: 15px;
   }
   .subscribe-box button {
    font-size: 15px;
   }
   .back-to-top {
    font-size: 15px;
    width: 180px;
    position: relative;
    bottom: -20px;
   }
   .info-2 {
    font-size: 15px;
   }
   .All-rights {
    font-size: 15px;
   }
   
}

/* --------------------- */
/*      MOBILE (max-width: 767px)    */
/* --------------------- */

@media (max-width: 767px) {
  .header {
    margin: 30px;
    height: 30px;
    padding: 0
  }

  .header .header-container {
    width: 50%;
    height: 50px;
    margin:  auto 10px;
    padding: 10px 5px 10px 5px;
  }

  .header .logo {
    order: 1;
  }

  .header .logo h1 {
    font-size: 25px;
  }

  .header .btn-getstarted {
    font-size: 15px;
    order: 2;
    margin: 0 0 0 10px;
    padding: 6px 15px;
  }

  .header .navmenu {
    order: 3;
  }

  .mobile-nav-toggle {
    color: var(--nav-color);
    max-width: 300px;
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
    line-height: 0;
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu {
    padding: 0;
    z-index: 9997;
  }

  .navmenu ul {
    align-items: center;
    display: none;
    list-style: none;
    position: fixed;
    text-align: center;
    padding: 50px;
    width: 90%;
    max-width: 400px;
    margin: 70px 15px;
    border-radius: 6px;
    background-color: var(--nav-mobile-background-color);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }
  .navmenu li {
    margin-top: 10px;
    justify-items: center;
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-dropdown-color);
    padding: 10px 20px;
    font-family: var(--nav-font);
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
    background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
  }

  .navmenu a i:hover,
  .navmenu a:focus i:hover {
    background-color: var(--accent-color);
    color: var(--contrast-color);
  }

  .navmenu a:hover,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--nav-dropdown-hover-color);
  }

  .navmenu .active i,
  .navmenu .active:focus i {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    transform: rotate(180deg);
  }

  .navmenu .dropdown ul {
    position: static;
    display: none;
    z-index: 99;
    padding: 10px 0;
    margin: 10px 20px;
    background-color: var(--nav-dropdown-background-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    box-shadow: none;
    transition: all 0.5s ease-in-out;
  }

  .navmenu .dropdown ul ul {
    background-color: rgba(33, 37, 41, 0.1);
  }

  .navmenu .dropdown > .dropdown-active {
    display: block;
    background-color: rgba(33, 37, 41, 0.03);
  }


  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav-toggle {
    color: var(--contrast-color);
    position: absolute;
    font-size: 32px;
    top: 15px;
    margin-right: 0;
    z-index: 9999;
  }

  .mobile-nav-active .navmenu {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgba(33, 37, 41, 0.8);
    transition: 0.3s ease-in-out;
  }

  .mobile-nav-active .navmenu > ul {
    display: block;
    width: 50%;
    height: 400px;
  }
  .btn-getstarted {
    
  }

  section {
    margin-top: 100px;
    margin-bottom: 0;
  }

  .section-title {
    text-align: center;
    padding-bottom: 60px;
    position: relative;
  }
  
  .hero-contact-h1 {
    width: 100%;
    font-size: 90px;
    font-weight: 500;
    margin: 0;
  }

  .check-box {
    padding: 0;
    margin-top: 20px;
    width: 200px;
    position: relative;
    left: 0;
  }
  
  .description-text {
    width: 200px;
    font-size: 11px;
    height: 30px;
    border-radius: 30px;
    background-color: #E6FFF2;
  }
  .description-text2 {
    width: 160px;
    font-size: 11px;
    height: 30px;
    border-radius: 30px;
    background-color: #E6FFF2;
  }
  .description-text3 {
    width: 170px;
    font-size: 11px;
    height: 30px;
    border-radius: 30px;
    background-color: #E6FFF2;
  }
  
  .check-icon {
    display: inline-flex;
    margin-left: 15px;
    width: 20px;
    height: 20px;
    background-color: #00c851;
    color: var(--contrast-color);
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }

  .hero-width {
    margin-left: 15px;
    width: 100%;
  }
  
  .maintitle {
    font-size: 25px;
    width: 300px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .highlight {
    color: #ff6c09;
  }
  
  .description {
    width: 330px;
    font-size: 18px;
    line-height: 1.6;
    color: #2b2b2b;
  }

  .btn-dark {
    position: relative;
    right: -200px;
    top: -60px;
    width: 150px;
    margin-top: 20px;
    background-color: var(--default-color);
    font-weight: 200;
    font-size: 15px;
    border: none;
    height: 40px;
    min-height: 20px;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
  }
  
  .btn-dark:hover {
    background-color: #ff6c09;
  }

  .arrow-1 {
    width: 22px;
    height: 22px;
  }

  .stats-section {
    max-width: 90%;
    height: 900px;
  }
  .rounded {
    position: relative;
    right: 10px;
    top: -20px;
    width: 260px;
    height: 260px;
  }
  .right-card {
    width: 300px;
  }

  .highlight-1 {
    font-size: 30px;
  }
  .dec-text {
    width: 270px;
  }

  .businesses-proj {
    left: auto;
    width: 100%;
  }

  .meeting-section {
    width: 100%;
  }
  .logo-img {
    width: 20px;
  }

  .meeting-text {
    font-size: 20px;
  }
  .meeting-title {
    font-size: 40px;
  }
  .meeting-btn {
    width: 150px;
    height: 50px;
    font-size: 20px;
  }

  .process-title {
    font-size: 40px;
  }
  .process-text {
    font-size: 15px;
  }
  .step-container {
    width: 90%;
    height: 300px;
  }
  .step-content {
    font-size: 25px;
    height: 300px;
  }
  .step-title {
    margin: 0;
    font-size: 30px;
  }
  .step-description {
    font-size: 25px;
  }
  .coming-soon-1 {
    position: relative;
    bottom: 100px;
    font-size: 100px;
  }
  .overlay-text {
    position: relative;
    bottom: 100px;
    font-size: 25px;
    gap: 50px;
  }
  .hero-section {
    width: 100%;
    height: 300px;
    border-radius: 15px;
  }
  .hero-title {
    font-size: 50px;
  }
  .hero-subtitle {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .hero-text {
    font-size: 12px;
    width: 100%;
  }
  .hero-width {
    width: 100%;
  }
  .content-box {
    height: 50px;
    border-radius: 15px;
    margin-top: -25px;
  }
  .clients {
    width: 100%;
  }
  .trust-width {
    padding-left: 0px;
  }
  .trust-title {
    font-size: 50px;
  }
  .trust-text {
    width: 100%;
    font-size: 13px;
  }
  img.position-absolute {
    width: 10%;
  }
  .trust-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .trust-card {
    text-align: center;
    display: flex;
    width: 100%;
    height: 150px;
    flex-direction: row;
  }
  .trust-card h3 {
    margin-top: 10px;
  }
  .trust-card p {
    margin-top: 10px;
    margin-left: 50px;
    font-size: 15px;
    width: 150px;
  }
  .icon {
    width: 50px;
    height: 50px;
    text-align: center;
    top: 50px;
    right: 15px;
  }
  .process-title-1 {
    text-align: left;
    margin-left: 10px;
    font-size: 50px;
  }
  .process-text-1 {
    text-align: left;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .all-cards {
    width: 100%;
  }
  .card {
    width: 100%;
    height: 550px;
    border-radius: 15px;
    margin-top: 10px;
  }
  .linkdin {
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .opportunity {
    width: 100%;
    height: 850px;
    border-radius: 15px;
    margin-top: 10px;
  }
  .custom-card {
    width: 95%;
    height: 800px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 150px;
  }
  .title {
    margin-left: 0;
    font-size: 50px;
  }
  .main-heading {
    font-size: 20px;
    margin-left: 0;
  }
  .description-2 {
    font-size: 16px;
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }
  .author {
    font-size: 15px;
    margin-left: 0;
  }
  .highlight-box {
    width: 100%;
    height: 550px;
    text-align: center;
    top: 0;
    right: 0;
    position: relative;
  }

  .footer {
    width: 95%;
    padding: 40px 20px;
    height: auto;
    margin: 20px 15px;
    border-radius: 25px;
  }

  .footer-logo img {
    width: 120px;
    height: 120px;
    top: -40px;
  }

  .footer-links a {
    font-size: 16px;
  }

  .subscribe-box {
    max-width: 100%;
    height: 45px;
  }

  .subscribe-box-text {
    font-size: 25px;
  }

  .footer-bottom {
    margin-top: 20px;
    margin-left: 0;
    text-align:  left;
    bottom: 0px;
  }

  .info-2 {
    font-size: 18px;
  }

  .All-rights {
    font-size: 14px;
  }

  .back-to-top {
    bottom: 10px;
    left: -70px;
    width: 190px;
    font-size: 16px;
    margin: 20px auto;
  }
  .subscribe-box button {
    padding: 0;
    position: relative;
    width: 35px;
    height: 35px;
  }
  .subscribe-box{
    margin-top: 10px;
  }

}

/* --------------------- */
/*      dont show desktop version on mobile    */
/* --------------------- */

@media (max-width: 767px) {
  .desktop-version {
      display: none;
  }
}

@media (min-width: 768px) {
  .mobile-version {
      display: none;
  }
}


