:root {
    --default-font: "Outfit", serif;
    --heading-font: "Outfit", serif;
    --nav-font: "Outfit", serif;
  }
  
  :root { 
    --background-color: #F8F9FA; 
    --default-color: #000000; 
    --heading-color: #000000; 
    --accent-color: #FF6C09; 
    --surface-color: #F8F9FA; 
    --contrast-color: #F8F9FA; 
  }
  
  :root {
    --nav-color: #000000; 
    --nav-hover-color: #FF6C09; 
    --nav-mobile-background-color: #F8F9FA; 
    --nav-dropdown-background-color: #F8F9FA; 
    --nav-dropdown-color: #212529; 
    --nav-dropdown-hover-color: #FF6C09; 
  }
  
  .light-background {
    --background-color: #f3f9ff;
    --surface-color: #ffffff;
  }
  
  .dark-background {
    --background-color: #0d83fd;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --surface-color: #409dfd;
    --contrast-color: #ffffff;
  }
  
  :root {
    scroll-behavior: smooth;
  }
  
  /*--------------------------------------------------------------
  # General Styling & Shared Classes
  --------------------------------------------------------------*/
  body {
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  a {
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
  }

.login-page {
    max-width: 1500px;
    display: flex;
    align-items: center;
    gap: 90px;
    margin-top: 100px;
    margin-bottom: 150px;
}
.text-section {
    flex: 1;
}
.btn-backtohome {
    position: relative;
    bottom: 120px;
    max-width: 230px;
}
.btn-backhome {
    background-color: var(--default-color);
    color: var(--contrast-color);
    border-radius: 50px;
    height: 80px;
    transition: 0.5s ease-in-out;
}

.btn-backhome:hover{
    background-color: var(--accent-color);
    color: var(--contrast-color);
}

.btn-backhome img {
    margin-right: 15px;
    transform: scaleX(-1);
    width: 20%;
}
.text-section h1 {
    font-size: 90px;
    font-weight: 500;
}

.text-section .highlight {
    color: #ff6600;
}

.from-card-text {
    color: var(--default-color);
    font-size: 20px;
    max-width: 100px;
}

.text-section p {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    color: #161616;
    max-width: 600px;
}

.form-card {
    background-color: #D9D9D9;
    padding: 70px;
    border-radius: 20px;
    flex: 1;
    width: 1000px;
    height: 700px;
}

.form-card h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 0px;

}
.form-check-input[type=checkbox] {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  text-align: center;
  transition: 0.5s ease-in-out;
}
.form-check-input[type=checkbox]:checked {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.form-control {
    border-radius: 50px;
    height: 80px;
    padding: 12px 30px;
    font-size: 25px;
    margin-bottom: 30px;
}

.btn-submit {
  align-items: center;
  text-align: center;
    background-color: var(--default-color);
    color: var(--contrast-color);
    border-radius: 50px;
    height: 80px;
    padding: 12px 15px;
    width: 100%;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 200;
    transition: 0.5s ease-in-out;
}

.btn-submit:hover {
    background-color: var(--accent-color);
    color: var(--contrast-color);
}

.terms {
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
}

.terms a {
    color: black;
    text-decoration: underline;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .login-page {
    padding: 0px;
    width: 100%;
    max-width: 900px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 150px;
}
.text-section {
  height: 100%;
    flex: 1;
}
.btn-backtohome {
    position: relative;
    bottom: 100px;
    max-width: 230px;
}
.btn-backhome {
    background-color: var(--default-color);
    color: var(--contrast-color);
    border-radius: 50px;
    font-size: 16px;
    height: 60px;
    transition: 0.5s ease-in-out;
}

.btn-backhome:hover{
    background-color: var(--accent-color);
    color: var(--contrast-color);
}

.btn-backhome img {
    margin-right: 15px;
    transform: scaleX(-1);
    width: 20%;
}
.text-section h1 {

  width: 100%;
  font-size: 50px;
  font-weight: 500;
}

.text-section .highlight {
    color: #ff6600;
}

.from-card-text {
  width: 100%;
  position: relative;
  right: -150px;
  top: -60px;
  color: var(--default-color);
  font-size: 13px;
  max-width: 20px;
}

.text-section p {
  margin-top: 0px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: #161616;
    max-width: 600px;
}

.form-card {
    background-color: #D9D9D9;
    padding: 70px;
    border-radius: 20px;
    flex: 1;
    width: 100%;
    height: 100%;
}

.form-card h2 {
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: 500;

}
.form-check-input[type=checkbox] {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  text-align: center;
  transition: 0.5s ease-in-out;
}
.form-check-input[type=checkbox]:checked {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.form-control {
    border-radius: 50px;
    height: 60px;
    padding: 12px 30px;
    font-size: 22px;
    margin-bottom: 30px;
}

.btn-submit {
  align-items: center;
  text-align: center;
    background-color: var(--default-color);
    color: var(--contrast-color);
    border-radius: 50px;
    height: 60px;
    padding: 12px 15px;
    width: 100%;
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 200;
    transition: 0.5s ease-in-out;
}

.btn-submit:hover {
    background-color: var(--accent-color);
    color: var(--contrast-color);
}

.terms {
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
}

.terms a {
    color: black;
    text-decoration: underline;
}
}

@media (max-width: 767px) {
  .login-page {
    padding: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .text-section h1 {
    font-size: 50px;
  }
  .from-card-text {
    font-size: 25px;
    font-weight: 400;
  }

  .text-section p {
    width: 100%;
    font-size: 16px;
  }

  .form-card {
    width: 100%;
    padding: 20px;
    height: 800px;
  }
  .form-card h2 {
    margin-bottom: 10px;
    font-size: 28px;
    text-align: left;
  }
  .form-control {
    font-size: 20px;
    height: 60px;
  }
  .btn-submit {
    font-size: 20px;
    height: 60px;
  }
  .terms {
    padding: 0 30px;
    font-size: 14px;
    text-align: center;
  }

  .btn-backtohome {
    bottom: 50px;
  }

  .btn-backhome {
    width: 150px;
    height: 40px;
    font-size: 12px;
  } 

  .btn-backhome img {
    width: 15%;
  }
  .form-check-input[type=checkbox] {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    text-align: center;
    transition: 0.5s ease-in-out;
  }
  .form-check-input[type=checkbox]:checked {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }
  
  .footer {
    width: 100%;
    padding: 40px 20px;
    height: auto;
    margin: 20px 0px;
    border-radius: 25px;
  }

  .footer-links {
    left: 0;
  }

  .privcy {
    font-size: 16px;
  }

  .privcy a {
    font-size: 16px;
  }

  .footer-logo img {
    width: 120px;
    height: 120px;
    top: -40px;
  }

  .footer-links a {
    font-size: 16px;
    left: 0px;
  }

  .subscribe-box {
    max-width: 100%;
    height: 45px;
  }

  .subscribe-box-text {
    font-size: 25px;
  }

  .footer-bottom {
    margin-top: 20px;
    margin-left: 0;
    text-align: left;
    bottom: 0px;
  }

  .info-2 {
    font-size: 18px;
  }

  .All-rights {
    font-size: 14px;
  }

  .back-to-top {
    bottom: 10px;
    left: -50px;
    width: 100px;
    max-width: 180px;
    font-size: 16px;
    margin: 20px auto;
  }
  .subscribe-box button {
    padding: 0;
    position: relative;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .subscribe-box {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #error-message {
    text-align: left;
  }
}